{% spaceless %}
{% load static %}
{% for course in course_list %}
    <div class='result-content'>
        <div class='media'>
            <div class='media-left'>
                <a href='{% url 'course_page' course.id %}'>
                    {% if course.course_image %}
                        <img src='{% url 'course_img' course.id %}' class='media-object photo' alt='Course Photo'>
                    {% else %}
                        <img src='{% static 'images/course_default.png' %}' class='media-object photo'>
                    {% endif %}
                </a>
            </div>
            <div class='media-body post-text'>
                <a href='{% url 'course_page' course.id %}'><p class='course-result'>{{ course.title }}</p></a>
                <a href='{% url 'instructor' request.user.id %}'><p class='creator'>Creator: {{ course.creator }}</p></a>
                <div>
                            <span class='catagory-result'>{{ course.category }}</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endspaceless %}